# DATA ANALYSIS NOTEBOOK
Felix A. Westphal
DLMDWME01

### Import

In [65]:
import pandas as pd
from datetime import datetime

### Parameter

In [66]:
FILE_PATH_INPUT_DATA = r"../data/processed/Cleaned_Input_Data.csv"
FILE_PATH_EXTENDED_DATA = r"../data/processed/Extended_Input_Data.csv"
TIMESTAMP_FORMAT = "%Y-%m-%d %H:%M:%S"
TIMESTAMP_FORMAT_MINUTE = "%Y-%m-%d %H:%M"

### Load Data

In [67]:
input_data = pd.read_csv(FILE_PATH_INPUT_DATA, parse_dates=[0])                        # Load input data file
print(input_data)

                     tmsp      country  amount  success         PSP  \
0     2019-01-01 00:01:11      Germany    89.0    False     UK_Card
1     2019-01-01 00:01:17      Germany    89.0     True     UK_Card
2     2019-01-01 00:02:49      Germany   238.0    False     UK_Card
3     2019-01-01 00:03:13      Germany   238.0     True     UK_Card
4     2019-01-01 00:04:33      Austria   124.0    False  Simplecard
...                   ...          ...     ...      ...         ...
50405 2019-02-28 23:45:39  Switzerland   415.0    False     UK_Card
50406 2019-02-28 23:46:48      Austria    91.0    False     UK_Card
50407 2019-02-28 23:47:04      Austria    91.0    False     UK_Card
50408 2019-02-28 23:47:36      Austria    91.0    False     UK_Card
50409 2019-02-28 23:48:19      Austria    91.0     True   Moneycard

       3D_secured    card
0           False    Visa
1           False    Visa
2            True  Diners
3            True  Diners
4           False  Diners
...           ...     ...
50405       False    Visa
50406       False  Master
50407       False  Master
50408       False  Master
50409       False  Master

[50410 rows x 7 columns]

### Number of Tries

In [68]:
print("========== CALCULATING NUMBER OF TRIES ==========")
extended_data = input_data.sort_values(by="tmsp")                                               # Sort the dataframe by timestamp
extended_data["num_tries"] = 0                                                                  # Add new column
extended_data["order_id"] = None

order_id = 0
for i in range(len(extended_data)):
    if i > 0 \
    and extended_data.iloc[i]["tmsp"].strftime(TIMESTAMP_FORMAT_MINUTE) == extended_data.iloc[i-1]["tmsp"].strftime(TIMESTAMP_FORMAT_MINUTE) \
    and extended_data.iloc[i]["country"] == extended_data.iloc[i-1]["country"] \
    and extended_data.iloc[i]["amount"] == extended_data.iloc[i-1]["amount"]:
        extended_data.at[i, "num_tries"] = extended_data.iloc[i-1]["num_tries"] + 1
        extended_data.at[i, 'order_id'] = order_id
    else:
        extended_data.at[i, 'num_tries'] = 1
        order_id = order_id + 1
        extended_data.at[i, 'order_id'] = order_id


print(f"\n========== EXTENDED DATA FRAME ========== \n{extended_data}")
extended_data.to_csv(FILE_PATH_EXTENDED_DATA, index=False)
print(f"Saved Extended Data Frame as .csv to: {FILE_PATH_EXTENDED_DATA}")

========== CALCULATING NUMBER OF TRIES ==========

========== EXTENDED DATA FRAME ==========
                     tmsp      country  amount  success         PSP  \
0     2019-01-01 00:01:11      Germany    89.0    False     UK_Card
1     2019-01-01 00:01:17      Germany    89.0     True     UK_Card
2     2019-01-01 00:02:49      Germany   238.0    False     UK_Card
3     2019-01-01 00:03:13      Germany   238.0     True     UK_Card
4     2019-01-01 00:04:33      Austria   124.0    False  Simplecard
...                   ...          ...     ...      ...         ...
50405 2019-02-28 23:45:39  Switzerland   415.0    False     UK_Card
50406 2019-02-28 23:46:48      Austria    91.0    False     UK_Card
50407 2019-02-28 23:47:04      Austria    91.0    False     UK_Card
50408 2019-02-28 23:47:36      Austria    91.0    False     UK_Card
50409 2019-02-28 23:48:19      Austria    91.0     True   Moneycard

       3D_secured    card  num_tries order_id
0           False    Visa          1        1
1           False    Visa          2        1
2            True  Diners          1        2
3            True  Diners          1        3
4           False  Diners          1        4
...           ...     ...        ...      ...
50405       False    Visa          2    37822
50406       False  Master          1    37823
50407       False  Master          1    37824
50408       False  Master          2    37824
50409       False  Master          1    37825

[50410 rows x 9 columns]
Saved Extended Data Frame as .csv to: ../data/processed/Extended_Input_Data.csv